// sidebar
$menuText:#5C6280;
$menuActiveText:#32479A;
$subMenuActiveText:#32479A; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #FFFFFF;
$menuHover : rgba(50,71,154,0.05);

$subMenuBg:#fff;
$subMenuHover:rgba(50,71,154,0.05);

$sideBarWidth: 200px;
// 全局主色
$primary-color: #32479A;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
